body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
    color:#40514E;
}



/*div {
    background-color:  #E4F9F5;
}*/

    


h1{
   font-size: 5rem;
   
    width: 30%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2rem;
   
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    
    color: #11999E;
    padding-bottom: 15PX;
    

}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10PX;
}
h4{
    color: #66BFBF;
}
p{
    line-height: 2;
}
hr{
    border:dotted #4d5454 6px ;
    width:5% ;
    border-bottom: none;
    margin: 100px auto;
    
    
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
    color: #EAF6F6; ;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}






.top-container{
    
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
   
   

}
.middle-container{
  /* width: 200px;
    height: 200px;*/
    
    margin: 100px 0;
   
    
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;/*top 0 left and right 20 bottom*/
}

/*.pro{
    text-underline-offset: unset;
}*/
.intro{
    width: 30%;
   margin: auto;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom: 250px;
}
.top-cloud{
position: absolute;
right: 300px;
top:40px


}
.footer-link{
    color: #11999E;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    /* line height makes space between the text of the elments of the tags spacious */
}
.webdev{
    width: 200px;
    float: left;
    margin-right: 30px;
    /* this margin seperates the image and text by 30px  
    float makes the text move from bottom to left of the image */
   

}
.cricket{
    width: 200px;
    float: left;
    margin-right :30px ;
}
/*.DSA{
    clear: left;/*  this claer property realign the only DSA texts to bottom it is like opposite of the  
    flaot
}*/
.btn{
    background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
}
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .contact-me

  {
    width: 40%;
    margin:40px auto 60px auto ;
  }